		<footer>
			<div class="container">
				<div class="row">
					<img class="logo" src="/assets/img/logo.svg" alt="">
				</div>
				<div class="row">
					<p>Designed and Coded with love by myself.</p>
					<ul class="social centered-content">
						<li><a href="https://www.linkedin.com/in/rieli-boldrini-b1aa52119"><img src="/assets/img/linkedin.png" alt=""></a></li>
						<li><a href="https://www.instagram.com/rieliboldrini/"><img src="/assets/img/instagram.png" alt=""></a></li>
					</ul>
				</div>
			</div>
		</footer>
	</body>
</html>