@charset "UTF-8";

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
}

html {
	font-size: 100%;
	@include media("<desktop") {font-size: 70%;}
	@include media("<tablet") {font-size: 60%;}
	@include media("<phone") {font-size: 50%;}
}

body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: $mainColor;
	@include rubik(1.5rem, $black, false); 
}

ul.menu-desk li a {
	@include fixture-expanded(1.87rem, $white, false, uppercase);
}

.underline {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: $border;
		bottom: 0;
		left: 0;
		background-color: $white;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: $thetransition;
		transition: $thetransition;
	}
	&:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
	li {
		margin-left: 2rem;
		list-style-type: none;
	}
}

// ===============================
// typography
// ===============================

a {
  text-decoration: none;
}

h1 {
  @include fixture-expanded(3rem, $black, false);
  margin-bottom: 1.2rem;
}

h2 {
	@include fixture-ultra(5rem, $mainColor, false, uppercase);
	text-align: center;
	margin-bottom: 4.375rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.5rem;
  @include media("<phone") {font-size: 2rem;}
  font-weight: 200;
  line-height: 1.8;
}

*, *:after, *:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.centered-content {
	margin: auto !important;
	float: none !important;
}

// ===============================
// hamburger corrections
// ===============================
.hamburger {
	padding: 0;
}

.hamburger-box {
	width: 45px;
	height: 45px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	background-color: $white;
  border-radius: 0;
  height: 8px;
  width: 45px;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: $black;
}

.hamburger-inner::before {
  top: -15px;
}

.hamburger--collapse .hamburger-inner::after {
	top: -30px;
}